/*-----------------------------
    Accordion Item
-----------------------------*/
.accordion-wrapper{
    .card{
        +.card{
            margin-top: 20px;
        }
        border: none;
        background-color: transparent;
        .card-header{
            background-color: transparent;
            padding: 0;
            border: none;
            a{
                display: block;
                color: $black1;
                font-size: 18px;
                line-height: 28px;
                font-weight: 500;
                background-color: $white;
                padding: 14px 30px;
                cursor: pointer;
                position: relative;
                border: 1px solid #707070;
                &:after{
                    position: absolute;
                    right: 30px;
                    top: 15px;
                    content: "\f114";
                    font-size: 12px;
                    font-family: "Flaticon";
                }
                &[aria-expanded="false"]{
                    &:after{
                        content: "\f142";                       
                    }
                }
                &[aria-expanded="true"]{
                    border: 1px solid transparent;
                    background-color: $white3;
                }
            }
        }
        .collapse.show{
            .card-body {
                background-color: $white3;
            }
        }
        .card-body{
            background-color: $white3;
            padding: 0 30px 20px; 
            border: 1px solid transparent; 
            p {
                color: $black1;
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 0;
            }
        }
    }
}

.accordion {
    &__header {
        text-align: center;
        .title {
            color: $black1;
            font-size: 50px;
            line-height: 60px;
            font-family: var(--body-font);
            font-weight: 700;
            padding-bottom: 5px;
        }
        p {
            color: $black3;
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 0;
            width: 48%;
            margin: auto;
        }
    }
}
    