.icons {
    &_wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &.bg-black {
            background-color: $black1;
            .icons_wrap_item {
               color: $white;                         
            }
        }
        &_item {
            width: 120px;
            font-size: 40px;
            padding: 10px;
            color: $black1;
            text-align: center;
        }
    }
}