{% extends 'base-2.html' %} {% load static %} {% block content %}

<!--Breadcrumb Start-->
<div class="breadcrumb-area" style="background-image: url('{% static 'home/assets/img/breadcrumb/001.JPG' %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h1 class="page-title">About Us</h1>
                    <ul class="page-list">
                        <li><a href="index.html">Home</a></li>
                        <li>About</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--// Breadcrumb End-->

<!--About Story Start-->
<section class="about-story-section padding-top-120 padding-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="common-section-content">
                    <!--Section Title-->
                    <div class="section-title padding-bottom-20">
                        <h2 class="heading-02">About Story</h2>
                    </div>
                    <!--// Section Title End-->
                    <div class="paragraph padding-bottom-15">
                        <h3>Company Profile</h3>
                        <p align="justify">
                            Tropical Parts & Services (TPS) is the authorized distributor of Global Auto Parts (GAP) products in Ghana. The company deals in most popular automobile brands of Japanese, Korean, European, and American vehicle makes such as Nissan, Toyota, Honda, Mazda,
                            Hyundai, Kia, Suzuki, Opel, Mitsubishi, Volvo, and Ford. We stock a wide range of fast moving, high mortality, service, and repair parts such as Braking , Suspension & Steering, Filtration, Axle & Transmission, Cooling & Heating,
                            Electrical & Lighting, Engine Parts, Lubricants, Fluids & Chemicals, Service Parts, and Body & Exhaust. Providing genuine quality parts with maximum convenience and highly competitive pricing to our customers is our pride,
                            whiles continually searching for ways to expand our product range and improve our service to customers.​
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="thumb">
                    <img src="{% static 'home/assets/img/about-us/02.JPG' %}" alt="img">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="paragraph padding-top-20">
                    <h3>GAP Highest Quality Manufacturing</h3>
                    <p align="justify">
                        Global Auto Parts (GAP) differentiates itself by using its substantial experience of automotive manufacturing to identify factories that make parts for major vehicle manufacturers across the world. Global Auto Parts has supplier contracts with many such
                        manufacturers supplying the same quality of parts branded as Global Auto Parts. GAP import high volumes of these parts and break the bulk at their state-of-the-art warehouse and distribution facility in Dubai for distribution to
                        various territories across the globe. GAP parts are a true OE (original equipment) match in terms of design, materials, operation, fit, and durability. This model gives all GAP's customers an opportunity to compete with the vehicle
                        manufacturer branded parts and other known aftermarket brands.
                    </p>
                </div>
            </div>
        </div>
        <!--// Row-->
    </div>
    <!--// Container-->
</section>
<!--// About Story End-->


<!-- Our Mission Section-->
<section class="our-mission-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="our-mission-section__left">
                    <!--Work Items-->
                    <div class="our-mission-section__left__items">
                        <div class="work-tiems-inner">
                            <div class="padding-bottom-20">
                                <h4 class="items-title">Our Vision</h4>
                            </div>
                            <p>Our vision is to be among the best 10 auto parts & services companies in Ghana by 2020.</p>
                        </div>
                        <div class="items-number">01</div>
                    </div>
                    <!--// Work Items-->

                    <!--Work Items-->
                    <div class="our-mission-section__left__items white">
                        <div class="section-title">
                            <!--<h2 class="heading-02">Our Mission</h2>-->
                        </div>
                    </div>
                    <!--// Work Items-->

                    <!--Work Items-->
                    <div class="our-mission-section__left__items borderr">
                        <div class="work-tiems-inner">
                            <div class="padding-bottom-20">
                                <h4 class="items-title">Mission</h4>
                            </div>
                            <p>Our mission is to sell genuine quality auto parts and provide auto services that meet or exceed our customers expectation throughout Ghana & West Africa.</p>
                        </div>
                        <div class="items-number">02</div>
                    </div>
                    <!--// Work Items-->

                    <!--Work Items-->
                    <div class="our-mission-section__left__items">
                        <div class="work-tiems-inner">
                            <div class="padding-bottom-20">
                                <h4 class="items-title">Core Values</h4>
                            </div>
                            <ul>
                                <li>Quality</li>
                                <li>Affordability</li>
                                <li>Reliability</li>
                            </ul>
                        </div>
                        <div class="items-number">03</div>
                    </div>
                    <!--// Work Items-->


                </div>
            </div>
            <div class="col-lg-6">
                <div class="thumb">
                    <img src="{% static 'home/assets/img/service/details-02.PNG' %}" alt="img">
                </div>
                <div class="our-mission-section__right">
                    <div class="paragraph">
                        <h3>Product Warranty</h3>
                        <p align="justify">
                            All GAP parts come with a quality guarantee that assures our customers that they will be made to the same specification & standard as those available through the OE branded parts program. This means that all GAP parts come with a warranty cover that is
                            unrivalled in this sector. The GAP warranty is a ‘no quibble’ process that gives our customers 100% assurance that they are buying parts that are of the same quality as the genuine branded equivalent. This is our way of confirming
                            our commitment to our customers so that they can buy the brand with absolute confidence. Visit <a href="http://http://www.tropicalpartsgh.com/index.php/waranty-policy">GAP's warranty policy</a> for
                            more information.
                        </p>

                        <p>
                            This is a list of automotive parts mostly for vehicles using internal combustion eng- ines which are manufactured components of automobiles.This category is for components and parts that make up automobile (car) bodies including
                        </p>
                    </div>
                </div>
                <!--// Mission Right Scetion-->
            </div>
        </div>
    </div>
</section>
<!--// Our Mission Section-->

{% endblock content %}