{% extends 'base-2.html' %}

{% block content %}

 <!--Breadcrumb Start-->
    <div class="breadcrumb-area" style="background-image: url('assets/img/breadcrumb/01.png')">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner text-center">
                        <h1 class="page-title">About Us</h1>
                        <ul class="page-list">
                            <li><a href="index.html">Home</a></li>
                            <li>About</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Breadcrumb End-->

    <!--About Story Start-->
    <section class="about-story-section padding-top-120 padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="common-section-content">
                        <!--Section Title-->
                        <div class="section-title padding-bottom-20">
                            <h2 class="heading-02">About Story</h2>
                        </div>
                        <!--// Section Title End-->
                        <div class="paragraph padding-bottom-15">
                            <p>This is a list of automotive parts mostly for vehicles using interna combustion eng- ines
                                which are
                                manufactured components of automobiles This category is for components and parts that
                                make up
                                automobile (car) bodies including accessories.On motorbikes their main function is to
                                shield the rider from wind,
                                though not as completely as in a car, whereas on sports and racing motorcycles the main
                                function is reducing drag
                                when the rider On motorbikes their main function is to shield the rider from wind,
                                though not as completely as in a car,
                                whereas on sports and racing motorcycles the main function is reducing drag when the
                                rider</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="thumb">
                        <img src="assets/img/about-us/01.png" alt="img">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="paragraph padding-top-20">
                        <p>This is a list of automotive parts mostly for vehicles using interna combustion eng- ines
                            which are
                            manufactured components of automobiles This category is for components and parts that make
                            up
                            automobile (car) bodies including accessories.On motorbikes their main function is to shield
                            the rider from wind,
                            though not as completely as in a car, whereas on sports and racing motorcycles the main
                            function is reducing drag
                            when the rider</p>

                        <p>On motorbikes their main function is to shield the rider from wind, though not as completely
                            as in a car,
                            whereas on sports and racing motorcycles the main function is reducing drag when the rider
                        </p>
                    </div>
                </div>
            </div>
            <!--// Row-->
        </div>
        <!--// Container-->
    </section>
    <!--// About Story End-->


    <!-- Our Mission Section-->
    <section class="our-mission-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="our-mission-section__left">
                        <!--Work Items-->
                        <div class="our-mission-section__left__items">
                            <div class="work-tiems-inner">
                                <div class="padding-bottom-20">
                                    <h4 class="items-title">Easy Financing</h4>
                                </div>
                                <p>Lorem Ipsum is simply dummy text of the printing and industry.
                                    Lorem Ipsum has been the industry's standard</p>
                            </div>
                            <div class="items-number">01</div>
                        </div>
                        <!--// Work Items-->

                        <!--Work Items-->
                        <div class="our-mission-section__left__items white">
                            <div class="section-title">
                                <h2 class="heading-02">Our Mission</h2>
                            </div>
                        </div>
                        <!--// Work Items-->

                        <!--Work Items-->
                        <div class="our-mission-section__left__items borderr">
                            <div class="work-tiems-inner">
                                <div class="padding-bottom-20">
                                    <h4 class="items-title">All Brands Cars</h4>
                                </div>
                                <p>Lorem Ipsum is simply dummy text of the printing and industry.
                                    Lorem Ipsum has been the industry's standard</p>
                            </div>
                            <div class="items-number">02</div>
                        </div>
                        <!--// Work Items-->

                        <!--Work Items-->
                        <div class="our-mission-section__left__items">
                            <div class="work-tiems-inner">
                                <div class="padding-bottom-20">
                                    <h4 class="items-title">Quality Services</h4>
                                </div>
                                <p>Lorem Ipsum is simply dummy text of the printing and industry.
                                    Lorem Ipsum has been the industry's standard </p>
                            </div>
                            <div class="items-number">03</div>
                        </div>
                        <!--// Work Items-->


                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="thumb">
                        <img src="assets/img/service/details-02.png" alt="img">
                    </div>
                    <div class="our-mission-section__right">
                        <div class="paragraph">
                            <p>
                                This is a list of automotive parts mostly for vehicles using internal combustion eng-
                                ines which are manufactured
                                components of automobiles.This category is for components and parts that make up
                                automobile (car) bodies including accessories.
                            </p>

                            <p>
                                This is a list of automotive parts mostly for vehicles using internal combustion eng-
                                ines which are manufactured
                                components of automobiles.This category is for components and parts that make up
                                automobile (car) bodies including
                            </p>
                        </div>
                    </div>
                    <!--// Mission Right Scetion-->
                </div>
            </div>
        </div>
    </section>
    <!--// Our Mission Section-->

{% endblock %}