{% extends 'base-2.html' %} {% load static %} {% block content %}

<!--Breadcrumb Start-->
<div class="breadcrumb-area" style="background-image: url('{% static 'home/assets/img/breadcrumb/001.JPG' %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h1 class="page-title">Blog Details</h1>
                    <ul class="page-list">
                        <li><a href="index.html">Home</a></li>
                        <li>Blog Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--// Breadcrumb End-->


<!--Blog Page Content-->
<div class="blog-page-content padding-top-120 padding-bottom-95">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-details-wrap">
                    <!--Blog Details item-->
                    <div class="blog-details-items">
                        <div class="content bg-none">
                            <h3 class="title">Top 10 Most Fuel-Efficient Cars On The Road</h3>
                            <div class="post-meta border-none padding-top-20">
                                <ul class="list-wrap">
                                    <li>
                                        <div class="author"><a href="#"> Anthony Miller</a></div>
                                    </li>
                                </ul>
                                <ul class="list-wrap two">
                                    <li><i class="flaticon-heart"></i> <a href="#"> 775</a></li>
                                    <li><i class="flaticon-comment"></i><a href="#"> 45</a></li>
                                    <li><i class="flaticon-share"></i><a href="#"> 33</a></li>
                                </ul>
                            </div>
                            <div class="padding-30">
                                <p>Magna aliqua enim aduas veniam quis nostrud exercitation laboris aliquip. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris.</p>
                            </div>
                        </div>
                        <!--// Content-->

                        <div class="thumb">
                            <img src="{% static 'home/assets/img/blog/blog-details/01.PNG' %}" alt="img">
                        </div>
                        <!--// Thumbnail Area-->

                        <div class="padding-30">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                                more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>

                        <div class="blog-details-inner">
                            <div class="thumb">
                                <img src="{% static 'home/assets/img/blog/blog-details/02.PNG' %}" alt="img">
                            </div>
                            <div class="content bg-none">
                                <h5 class="title">Lorem Ipsum Quisque Sed Est Ac Ante</h5>
                                <p>Suspendisse aliquam finibus fringilla. Sed interd imperdiet. Morbi nec velit ut nunc posuere dapibus vel ut odio.</p>
                                <ul class="list-items">
                                    <li class="item"><i class="icon ti ti-angle-right"></i> Pellentesque lacus urna, feugiat non consectetur</li>
                                    <li class="item"><i class="icon ti ti-angle-right"></i> Aliquam sem neque, efficitur atero lectus vitae</li>
                                    <li class="item"><i class="icon ti ti-angle-right"></i> Pellentesque erat libero, eleifend sit amet felis</li>
                                    <li class="item"><i class="icon ti ti-angle-right"></i> Maecenas eget consectetur quam</li>
                                    <li class="item"><i class="icon ti ti-angle-right"></i> Pellentesque lacus urna, feugiat non consectetur</li>
                                    <li class="item"><i class="icon ti ti-angle-right"></i> The standard Lorem Ipsum passage, used since the 1500s</li>
                                </ul>
                            </div>
                        </div>

                        <blockquote>
                            <div class="quote-icon">
                                <i class="flaticon-quote"></i>
                            </div>
                            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                adipisci velit, sed quia non numquam eius modi</p>
                        </blockquote>

                        <div class="padding-bottom-30">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                                more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>

                    </div>
                    <!--// Blog Details item-->

                    <div class="blog-details-footer">
                        <div class="left">
                            <div class="share-icon">
                                <ul class="icon-wrap">
                                    <li class="share-text">Share:</li>
                                    <li><a class="icon" href="https://www.facebook.com/codingeek.net/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a class="icon" href="https://twitter.com/codingeeknet" target="_blank"><i
                                                    class="fab fa-twitter"></i></a></li>
                                    <li><a class="icon" href="https://www.instagram.com/codingeeknet" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    <li><a class="icon" href="https://www.linkedin.com/company/codingeek/about" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!--// Left-->

                        <div class="right">
                            <ul class="list-wrap">
                                <li><i class="icon flaticon-heart"></i> <a href="#"> Like</a></li>
                                <li><i class="flaticon-comment"></i><a href="#"> Comment</a></li>
                            </ul>
                        </div>
                        <!--// Right-->
                    </div>
                    <!--// Blog Details Footer-->

                    <!--Comment area-->

                    <div class="comment-area padding-top-120">
                        <h5 class="comments-title">Comments:</h5>
                        <ul class="comment-list">
                            <li>
                                <!-- single comment wrap -->
                                <div class="single-comment-wrap padding-40">
                                    <div class="thumb">
                                        <img src="{% static 'home/assets/img/blog/blog-details/avatar-01.PNG' %}" alt="comment images">
                                    </div>
                                    <div class="content bg-none">
                                        <div class="title-area">
                                            <h5 class="title">Adam Smith</h5>
                                            <span class="date">2 Days Ago</span>
                                        </div>
                                        <p>Twitter Prototype Product management beta long tail business cosumer user experience learning curve iteration seed money. stealth startup lean startup equity focus metrics sales channels influencer ecosystem monetization.</p>

                                        <div class="reply">
                                            <a href="#"> <i class="icon fa fa-reply"></i> Reply</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- // single comment wrap -->

                                <ul class="children">
                                    <li>
                                        <!-- single comment wrap -->
                                        <div class="single-comment-wrap padding-40">
                                            <div class="thumb">
                                                <img src="{% static 'home/assets/img/blog/blog-details/avatar-02.PNG' %}" alt="comment images">
                                            </div>
                                            <div class="content bg-none">
                                                <div class="title-area">
                                                    <h5 class="title">Mohfuz Riad</h5>
                                                    <span class="date">2 Days Ago</span>
                                                </div>
                                                <p>Twitter Prototype Product management beta long tail business cosumer user experience learning curve iteration seed money. stealth startup lean startup equity focus metrics sales channels influencer ecosystem
                                                    monetization.
                                                </p>
                                                <div class="reply">
                                                    <a href="#"> <i class="icon fa fa-reply"></i> Reply</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- // single comment wrap -->
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <!-- single comment wrap -->
                                <div class="single-comment-wrap padding-40">
                                    <div class="thumb">
                                        <img src="{% static 'home/assets/img/blog/blog-details/avatar-03.PNG' %}" alt="comment images">
                                    </div>
                                    <div class="content bg-none">
                                        <div class="title-area">
                                            <h5 class="title">Neem Uddin</h5>
                                            <span class="date">2 Days Ago</span>
                                        </div>
                                        <p>Twitter Prototype Product management beta long tail business cosumer user experience learning curve iteration seed money. stealth startup lean startup equity focus metrics sales channels influencer ecosystem monetization.</p>
                                        <div class="reply">
                                            <a href="#"> <i class="icon fa fa-reply"></i> Reply</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- // single comment wrap -->
                            </li>
                        </ul>

                        <!-- comment form wrap -->
                        <div class="comment-form-wrap">
                            <h5 class="reply-title">Post a comment</h5>
                            <div class="form-area">
                                <form action="blog-details.html">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <input type="text" name="name" placeholder="Name" class="form-control">
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="email" name="email" placeholder="Email" class="form-control">
                                            </div>
                                            <div class="col-lg-6">
                                                <textarea name="message" class="form-control" placeholder="Comment" rows="5"></textarea>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="main-btn-wrap">
                                                    <input class="main-btn  black" type="submit" value="Submit">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--// Form Area-->
                        </div>
                    </div>
                    <!--// Comment area-->
                </div>
            </div>

            <div class="col-lg-4">
                <div class="widget-area">
                    <div class="widget widget_search blog-bg">
                        <form action="blog.html" class="search-form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button class="submit-btn" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!--// Search Widget -->
                    <div class="widget widget_nav_menu blog-bg radio-button">
                        <h5 class="widget-title border-bottom">Blog Categories</h5>
                        <ul>
                            <li><a href="#">All Blog <span> (22)</span></a></li>
                            <li><a href="#">Sport Car <span> (13)</span></a></li>
                            <li><a href="#">Car Drive <span> (07)</span></a></li>
                            <li><a href="#">Design <span> (05)</span></a></li>
                            <li><a href="#">Marketing <span> (07)</span></a></li>
                            <li><a href="#">Other <span> (50)</span></a></li>
                        </ul>
                    </div>
                    <!--// Category Widget-->
                    <div class="widget widget_recent_posts blog-bg style-01">
                        <h5 class="widget-title border-bottom">Recent Post</h5>
                        <ul class="recent_post_item">
                            <li class="single-recent-post-item">
                                <div class="thumb">
                                    <img src="{% static 'home/assets/img/blog/recent-post/01.PNG' %}" alt="recent post">
                                </div>
                                <div class="content">
                                    <h5 class="title"><a href="#">Choise awards 2019 for business</a></h5>
                                    <span class="time">14 May, 2019 </span>
                                </div>
                            </li>
                            <li class="single-recent-post-item">
                                <div class="thumb">
                                    <img src="{% static 'home/assets/img/blog/recent-post/02.PNG' %}" alt="recent post">
                                </div>
                                <div class="content">
                                    <h5 class="title"><a href="#">Make your business best</a></h5>
                                    <span class="time">14 May, 2019</span>
                                </div>
                            </li>
                            <li class="single-recent-post-item">
                                <div class="thumb">
                                    <img src="{% static 'home/assets/img/blog/recent-post/03.PNG' %}" alt="recent post">
                                </div>
                                <div class="content">
                                    <h5 class="title"><a href="#">Investment policy for 2019</a></h5>
                                    <span class="time">14 May, 2019</span>
                                </div>
                            </li>
                            <li class="single-recent-post-item">
                                <div class="thumb">
                                    <img src="{% static 'home/assets/img/blog/recent-post/04.png' %}" alt="recent post">
                                </div>
                                <div class="content">
                                    <h5 class="title"><a href="#">Breaking Barriers in Design</a></h5>
                                    <span class="time"> 14 May, 2019</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--// Recent Post Widget-->

                    <div class="widget blog-bg style-01">
                        <h5 class="widget-title border-bottom">Photo Gallery</h5>
                        <ul class="gallery-items">
                            <li>
                                <a href="#"><img src="{% static 'home/assets/img/blog/gallery/01.png' %}" alt="img"></a>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'home/assets/img/blog/gallery/02.png' %}" alt="img"></a>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'home/assets/img/blog/gallery/03.png' %}" alt="img"></a>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'home/assets/img/blog/gallery/04.png' %}" alt="img"></a>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'home/assets/img/blog/gallery/05.png' %}" alt="img"></a>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'home/assets/img/blog/gallery/06.png' %}" alt="img"></a>
                            </li>
                        </ul>
                    </div>
                    <!--// Gallery Widget-->

                    <div class="widget blog-bg style-01">
                        <h5 class="widget-title border-bottom">Tags</h5>
                        <div class="tagcloud">
                            <a href="#">Black Car</a>
                            <a href="#">Car Parts</a>
                            <a href="#">Sport Car</a>
                            <a href="#">Tayer</a>
                            <a href="#">White</a>
                        </div>
                    </div>
                    <!--// Tags Widget-->
                </div>

            </div>
        </div>
    </div>
    <!--// Container-->
</div>
<!--// Blog Page Content-->


<!--Blog Related Post-->
<div class="related-post padding-bottom-95">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--Section Title-->
                <div class="section-title">
                    <div class="padding-bottom-20">
                        <h5 class="related-post-title">Related Posts</h5>
                    </div>
                </div>
                <!--// Section Title-->
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="latest-news-slider-items">
                            <div class="cards">
                                <div class="cards-img"><img src="{% static 'home/assets/img/blog/blog-details/related-post/01.PNG' %}" alt="img"></div>
                                <div class="cards-body">
                                    <div class="padding-bottom-30 padding-top-10">
                                        <h5 class="heading-05"><a href="#">What is Important for Product Design or
                                                    Sales</a></h5>
                                    </div>
                                    <div class="name-date">
                                        <div class="author-name">Tim Brown</div>
                                        <div class="publish-date">May 26, 2019</div>
                                    </div>
                                </div>
                                <!--// Cards Body-->
                            </div>
                            <!--//cards-->
                        </div>
                        <!--// Items-->
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="latest-news-slider-items">
                            <div class="cards">
                                <div class="cards-img"><img src="{% static 'home/assets/img/blog/blog-details/related-post/02.PNG' %}" alt="img"></div>
                                <div class="cards-body">
                                    <div class="padding-bottom-30 padding-top-10">
                                        <h5 class="heading-05"><a href="#">What is Important for Product Design or
                                                    Sales</a></h5>
                                    </div>
                                    <div class="name-date">
                                        <div class="author-name">Tim Brown</div>
                                        <div class="publish-date">May 26, 2019</div>
                                    </div>
                                </div>
                                <!--// Cards Body-->
                            </div>
                        </div>
                        <!--// Items-->
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="latest-news-slider-items">
                            <div class="cards">
                                <div class="cards-img"><img src="{% static 'home/assets/img/blog/blog-details/related-post/03.PNG' %}" alt="img"></div>
                                <div class="cards-body">
                                    <div class="padding-bottom-30 padding-top-10">
                                        <h5 class="heading-05"><a href="#">What is Important for Product Design or
                                                    Sales</a></h5>
                                    </div>
                                    <div class="name-date">
                                        <div class="author-name">Tim Brown</div>
                                        <div class="publish-date">May 26, 2019</div>
                                    </div>
                                </div>
                                <!--// Cards Body-->
                            </div>
                        </div>
                        <!--// Items-->
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="latest-news-slider-items">
                            <div class="cards">
                                <div class="cards-img"><img src="{% static 'home/assets/img/blog/blog-details/related-post/04.PNG' %}" alt="img"></div>
                                <div class="cards-body">
                                    <div class="padding-bottom-30 padding-top-10">
                                        <h5 class="heading-05"><a href="#">What is Important for Product Design or
                                                    Sales</a></h5>
                                    </div>
                                    <div class="name-date">
                                        <div class="author-name">Tim Brown</div>
                                        <div class="publish-date">May 26, 2019</div>
                                    </div>
                                </div>
                                <!--// Cards Body-->
                            </div>
                        </div>
                        <!--// Items-->
                    </div>
                </div>
                <!--// Latest News Slider Wrap-->
            </div>
        </div>
    </div>
</div>
<!--// Blog Related Post-->

{% endblock %}