{% extends 'base-2.html' %} {% load static %} {% block content %}

<!--Breadcrumb Start-->
<!--<div class="breadcrumb-area style-02">
    <div class="container">
        <div class="row">
            <div class="breadcrumb-inner">
                <div class="breadcrumb-left">
                    <div class="breadcrumb-inner-wrap">
                        <div class="breadcrumb-border">
                            <h1 class="page-title">News From Blog</h1>
                            <ul class="page-list">
                                <li><a href="index.html">Home</a></li>
                                <li>Blog</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="breadcrumb-right">
                    <div class="breadcrumb-thumb" style="background-image: url('{% static 'home/assets/img/breadcrumb/bg4.jpg' %}')">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!--// Breadcrumb End-->

<!--Banner Auto Car Section-->
<div class="banner-auto-car style-02 padding-top-110 padding-bottom-150" style="background-image: url({% static 'home/assets/img/bg/bg.jpg' %})">
    <!--Container-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-right-content">
                    <div class="m-auto">
                        <!--Section Title-->
                        <div class="section-title text-center">
                            <div class="padding-bottom-15">
                                <h6 class="title both-line uppercase gray"> Blog </h6>
                            </div>

                            <h2 class="heading-02">News From Our Blog</h2>
                        </div>
                        <!--// Section Title-->
                        <!--Info Area-->

                        <!--// Info Area-->
                    </div>
                </div>
                <!--// Complete Right Content-->
            </div>
        </div>
    </div>
    <!--// Container-->
</div>
<!--// Banner Auto Car Section End-->

<!--Blog Page Content-->
<div class="blog-page-content padding-top-120 padding-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!--Blog Single item-->
                <div class="blog-single-item margin-bottom-60">
                    <div class="row">
                        <div class="col-md-6 px-lg-0">
                            <div class="thumb-area-wrap">
                                <div class="thumb-area">
                                    <div class="thumb">
                                        <img src="{% static 'home/assets/img/blog/img.jpg' %}" alt="img">
                                    </div>
                                    <div class="date">
                                        <span class="day">22</span>
                                        <span class="month">Dec</span>
                                    </div>
                                </div>
                            </div>
                            <!--// Thumbnail Area-->
                        </div>
                        <div class="col-md-6 px-lg-0">
                            <div class="content">
                                <h4 class="title"><a href="#">Top 10 Most Fuel-Efficient Cars On The Road</a></h4>
                                <div class="post-meta">
                                    <ul class="list-wrap">
                                        <li>
                                            <div class="author"><a href="#"> Anthony Miller</a></div>
                                        </li>
                                    </ul>
                                    <ul class="list-wrap two">
                                        <li><i class="flaticon-heart"></i> <a href="#"> 775</a></li>
                                        <li><i class="flaticon-comment"></i><a href="#"> 45</a></li>
                                        <li><i class="flaticon-share"></i><a href="#"> 33</a></li>
                                    </ul>
                                </div>
                                <div class="padding-30">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book It has
                                        survived not only five centuries, but also the
                                    </p>
                                </div>
                                <div class="read-more-area">
                                    <div class="read-more">
                                        <a href="#">Read More</a>
                                    </div>
                                    <div class="share">
                                        <span class="share-text">Share</span>
                                        <div class="line-shap">
                                            <span class="caret"></span>
                                        </div>
                                        <div class="share-icon">
                                            <ul class="icon-wrap">
                                                <li><a class="icon" href="https://www.facebook.com/codingeek.net/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a class="icon" href="https://twitter.com/codingeeknet" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                                <li><a class="icon" href="https://www.instagram.com/codingeeknet" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                                <li><a class="icon" href="https://www.linkedin.com/company/codingeek/about" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// Blog Single item-->

                <!--Blog Single item-->
                <div class="blog-single-item margin-bottom-60">
                    <div class="row">
                        <div class="col-md-6 px-lg-0">
                            <div class="thumb-area-wrap">
                                <div class="thumb-area">
                                    <div class="thumb">
                                        <img src="{% static 'home/assets/img/blog/img1.jpg' %}" alt="img">
                                    </div>
                                    <div class="date">
                                        <span class="day">22</span>
                                        <span class="month">Dec</span>
                                    </div>
                                </div>
                            </div>
                            <!--// Thumbnail Area-->
                        </div>
                        <div class="col-md-6 px-lg-0">
                            <div class="content">
                                <h4 class="title"><a href="#">Tap yourself on the back for being a savy car
                                            shopper</a></h4>
                                <div class="post-meta">
                                    <ul class="list-wrap">
                                        <li>
                                            <div class="author"><a href="#"> Anthony Miller</a></div>
                                        </li>
                                    </ul>
                                    <ul class="list-wrap two">
                                        <li><i class="flaticon-heart"></i> <a href="#"> 775</a></li>
                                        <li><i class="flaticon-comment"></i><a href="#"> 45</a></li>
                                        <li><i class="flaticon-share"></i><a href="#"> 33</a></li>
                                    </ul>
                                </div>
                                <div class="padding-30">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book It has
                                        survived not only five centuries, but also the
                                    </p>
                                </div>
                                <div class="read-more-area">
                                    <div class="read-more">
                                        <a href="#">Read More</a>
                                    </div>
                                    <div class="share">
                                        <span class="share-text">Share</span>
                                        <div class="line-shap">
                                            <span class="caret"></span>
                                        </div>
                                        <div class="share-icon">
                                            <ul class="icon-wrap">
                                                <li><a class="icon" href="https://www.facebook.com/codingeek.net/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a class="icon" href="https://twitter.com/codingeeknet" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                                <li><a class="icon" href="https://www.instagram.com/codingeeknet" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                                <li><a class="icon" href="https://www.linkedin.com/company/codingeek/about" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// Blog Single item-->

                <!--Blog Single item-->
                <div class="blog-single-item margin-bottom-60">
                    <div class="row">
                        <div class="col-md-6 px-lg-0">
                            <div class="thumb-area-wrap">
                                <div class="thumb-area">
                                    <div class="thumb">
                                        <img src="{% static 'home/assets/img/blog/img2.jpg' %}" alt="img">
                                    </div>
                                    <div class="date">
                                        <span class="day">22</span>
                                        <span class="month">Dec</span>
                                    </div>
                                </div>
                            </div>
                            <!--// Thumbnail Area-->
                        </div>
                        <div class="col-md-6 px-lg-0">
                            <div class="content">
                                <h4 class="title"><a href="#">How The New Mercedes- Benz SLS AMG on the track</a>
                                </h4>
                                <div class="post-meta">
                                    <ul class="list-wrap">
                                        <li>
                                            <div class="author"><a href="#"> Anthony Miller</a></div>
                                        </li>
                                    </ul>
                                    <ul class="list-wrap two">
                                        <li><i class="flaticon-heart"></i> <a href="#"> 775</a></li>
                                        <li><i class="flaticon-comment"></i><a href="#"> 45</a></li>
                                        <li><i class="flaticon-share"></i><a href="#"> 33</a></li>
                                    </ul>
                                </div>
                                <div class="padding-30">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book It has
                                        survived not only five centuries, but also the
                                    </p>
                                </div>
                                <div class="read-more-area">
                                    <div class="read-more">
                                        <a href="#">Read More</a>
                                    </div>
                                    <div class="share">
                                        <span class="share-text">Share</span>
                                        <div class="line-shap">
                                            <span class="caret"></span>
                                        </div>
                                        <div class="share-icon">
                                            <ul class="icon-wrap">
                                                <li><a class="icon" href="https://www.facebook.com/codingeek.net/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a class="icon" href="https://twitter.com/codingeeknet" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                                <li><a class="icon" href="https://www.instagram.com/codingeeknet" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                                <li><a class="icon" href="https://www.linkedin.com/company/codingeek/about" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// Blog Single item-->

                <!--Blog Single item-->
                <div class="blog-single-item margin-bottom-60">
                    <div class="row">
                        <div class="col-md-6 px-lg-0">
                            <div class="thumb-area-wrap">
                                <div class="thumb-area">
                                    <div class="thumb">
                                        <img src="{% static 'home/assets/img/blog/img3.jpg' %}" alt="img">
                                    </div>
                                    <div class="date">
                                        <span class="day">22</span>
                                        <span class="month">Dec</span>
                                    </div>
                                </div>
                            </div>
                            <!--// Thumbnail Area-->
                        </div>
                        <div class="col-md-6 px-lg-0">
                            <div class="content">
                                <h4 class="title"><a href="#">We believe the cars we offer are the highest
                                            quality</a></h4>
                                <div class="post-meta">
                                    <ul class="list-wrap">
                                        <li>
                                            <div class="author"><a href="#"> Anthony Miller</a></div>
                                        </li>
                                    </ul>
                                    <ul class="list-wrap two">
                                        <li><i class="flaticon-heart"></i> <a href="#"> 775</a></li>
                                        <li><i class="flaticon-comment"></i><a href="#"> 45</a></li>
                                        <li><i class="flaticon-share"></i><a href="#"> 33</a></li>
                                    </ul>
                                </div>
                                <div class="padding-30">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book It has
                                        survived not only five centuries, but also the
                                    </p>
                                </div>
                                <div class="read-more-area">
                                    <div class="read-more">
                                        <a href="#">Read More</a>
                                    </div>
                                    <div class="share">
                                        <span class="share-text">Share</span>
                                        <div class="line-shap">
                                            <span class="caret"></span>
                                        </div>
                                        <div class="share-icon">
                                            <ul class="icon-wrap">
                                                <li><a class="icon" href="https://www.facebook.com/codingeek.net/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a class="icon" href="https://twitter.com/codingeeknet" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                                <li><a class="icon" href="https://www.instagram.com/codingeeknet" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                                <li><a class="icon" href="https://www.linkedin.com/company/codingeek/about" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// Blog Single item-->

                <!-- Pagination-->
                <div class="col-lg-12 margin-bottom-60">
                    <div class="blog-pagination text-center">
                        <ul class="page-numbers">
                            <li><a class="next page-numbers" href="#"><i class="flaticon-left-arrow"></i></a></li>
                            <li><span aria-current="page" class="page-numbers current">1</span></li>
                            <li><a class="page-numbers" href="#">2</a></li>
                            <li><a class="page-numbers" href="#">3</a></li>
                            <li><a class="page-numbers" href="#">4</a></li>
                            <li><a class="next page-numbers" href="#"><i class="flaticon-right-arrow"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!--// Pagination-->
            </div>

            <div class="col-lg-4">
                <div class="widget-area">
                    <div class="widget widget_search blog-bg">
                        <form action="blog.html" class="search-form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button class="submit-btn" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!--// Search Widget -->
                    <div class="widget widget_nav_menu blog-bg radio-button">
                        <h5 class="widget-title border-bottom">Blog Categories</h5>
                        <ul>
                            <li><a href="#">All Blog <span> (22)</span></a></li>
                            <li><a href="#">Sport Car <span> (13)</span></a></li>
                            <li><a href="#">Car Drive <span> (07)</span></a></li>
                            <li><a href="#">Design <span> (05)</span></a></li>
                            <li><a href="#">Marketing <span> (07)</span></a></li>
                            <li><a href="#">Other <span> (50)</span></a></li>
                        </ul>
                    </div>
                    <!--// Category Widget-->
                    <div class="widget widget_recent_posts blog-bg style-01">
                        <h5 class="widget-title border-bottom">Recent Post</h5>
                        <ul class="recent_post_item">
                            <li class="single-recent-post-item">
                                <div class="thumb">
                                    <img src="{% static 'home/assets/img/blog/recent-post/01.PNG' %}" alt="recent post">
                                </div>
                                <div class="content">
                                    <h5 class="title"><a href="#">Choise awards 2019 for business</a></h5>
                                    <span class="time">14 May, 2019 </span>
                                </div>
                            </li>
                            <li class="single-recent-post-item">
                                <div class="thumb">
                                    <img src="{% static 'home/assets/img/blog/recent-post/02.PNG' %}" alt="recent post">
                                </div>
                                <div class="content">
                                    <h5 class="title"><a href="#">Make your business best</a></h5>
                                    <span class="time">14 May, 2019</span>
                                </div>
                            </li>
                            <li class="single-recent-post-item">
                                <div class="thumb">
                                    <img src="{% static 'home/assets/img/blog/recent-post/03.PNG' %}" alt="recent post">
                                </div>
                                <div class="content">
                                    <h5 class="title"><a href="#">Investment policy for 2019</a></h5>
                                    <span class="time">14 May, 2019</span>
                                </div>
                            </li>
                            <li class="single-recent-post-item">
                                <div class="thumb">
                                    <img src="{% static 'home/assets/img/blog/recent-post/04.PNG' %}" alt="recent post">
                                </div>
                                <div class="content">
                                    <h5 class="title"><a href="#">Breaking Barriers in Design</a></h5>
                                    <span class="time"> 14 May, 2019</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--// Recent Post Widget-->

                    <div class="widget blog-bg style-01">
                        <h5 class="widget-title border-bottom">Photo Gallery</h5>
                        <ul class="gallery-items">
                            <li>
                                <a href="#"><img src="{% static 'home/assets/img/blog/gallery/01.PNG' %}" alt="img"></a>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'home/assets/img/blog/gallery/02.PNG' %}" alt="img"></a>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'home/assets/img/blog/gallery/03.PNG' %}" alt="img"></a>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'home/assets/img/blog/gallery/04.PNG' %}" alt="img"></a>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'home/assets/img/blog/gallery/05.PNG' %}" alt="img"></a>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'home/assets/img/blog/gallery/06.PNG' %}" alt="img"></a>
                            </li>
                        </ul>
                    </div>


                    <div class="widget blog-bg style-01">
                        <h5 class="widget-title border-bottom">Tags</h5>
                        <div class="tagcloud">
                            <a href="#">Black Car</a>
                            <a href="#">Car Parts</a>
                            <a href="#">Sport Car</a>
                            <a href="#">Tayer</a>
                            <a href="#">White</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--// Container-->
</div>
<!--// Blog Page Content-->

{% endblock %}