{% extends 'base-2.html' %}

{% block content %}


 <!--Breadcrumb Start-->
    <div class="breadcrumb-area" style="background-image: url('assets/img/contact/01.png')">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner text-center">
                        <h1 class="page-title">Contact Us</h1>
                        <ul class="page-list">
                            <li><a href="index.html">Home</a></li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Breadcrumb End-->

    <!--Cantact-->
    <div class="contact-page padding-top-115 padding-bottom-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="left-content">
                        <div class="section-title">
                            <h2 class="heading-02 padding-bottom-20">Get In Touch</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <form action="contact.html" class="contact-form">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <input type="tel" class="form-control" id="phone">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="subject">Subject</label>
                                    <input type="text" class="form-control" id="subject">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea class="form-control" cols="30" rows="10" id="message"></textarea>
                                </div>
                                <div class="main-btn-wrap">
                                    <input class="main-btn black" type="submit" value="Send Message">
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--// Cantact-->

    <div class="quick-find-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class='find-us-inner'>
                        <h4 class="title">Quick Find Us</h4>
                        <!--Contact Items-->
                        <div class="contact-items padding-top-20">
                            <div class="icon">
                                <img src="assets/img/marker.png" alt="marker">
                            </div>
                            <h5 class="heading">Showroom</h5>
                            <div class="contact">
                                <span class="contact-info">FairView Ave, El Monte</span>
                                <span class="contact-info">California 91732</span>
                            </div>
                        </div>
                        <!--// Contact Items-->

                        <!--Contact Items-->
                        <div class="contact-items padding-top-20">
                            <div class="icon">
                                <i class="flaticon-call-answer"></i>
                            </div>
                            <h5 class="heading">Phone</h5>
                            <div class="contact">
                                <span class="contact-info">(+88) 0172 570051</span>
                                <span class="contact-info">(+88) 0172 570051</span>
                            </div>
                        </div>
                        <!--// Contact Items-->

                        <!--Contact Items-->
                        <div class="contact-items padding-top-20">
                            <div class="icon">
                                <i class="flaticon-black-back-closed-envelope-shape"></i>
                            </div>
                            <h5 class="heading">Email</h5>
                            <div class="contact">
                                <span class="contact-info">autoshop@gmaill.com</span>
                                <span class="contact-info">autoshop@gmaill.com</span>
                            </div>
                        </div>
                        <!--// Contact Items-->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Google Map -->
    <div class="google-map-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 px-0">
                    <div id="google-map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3070.1899657893728!2d90.42380431666383!3d23.779746865573756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c7499f257eab%3A0xe6b4b9eacea70f4a!2sManama+Tower!5e0!3m2!1sen!2sbd!4v1561542597668!5m2!1sen!2sbd"
                            style="border:0; width: 100%; height: 100%;" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Google Map End-->
{% endblock %}