{% extends 'base-2.html' %}

{% block content %}

<!--car Booking-->
    <div class="h2-car-booking-section padding-bottom-40">
        <!--Banner Auto Car Section-->
        <div class="banner-auto-car style-02 padding-top-110 padding-bottom-150"
            style="background-image: url(assets/img/bg/bg-02.png)">
            <!--Container-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-right-content">
                            <div class="m-auto">
                                <!--Section Title-->
                                <div class="section-title text-center">
<!--                                    <div class="padding-bottom-15">-->
<!--                                        <h6 class="title both-line uppercase gray"> Book Now </h6>-->
<!--                                    </div>-->
                                    <h2 class="heading-02">Free Car Inspection</h2>
                                </div>
                                <!--// Section Title-->
                                <!--Info Area-->
                                <div class="info-area padding-top-20 m-auto">
                                    <div class="info-area-left">
                                        <div class="main-btn-wrap">
                                            <a href="#" class="main-btn uppercase">GET RIGISTERED</a>
                                        </div>
                                        <!--// Main Btn Wrap End-->
                                    </div>
                                    <!--//Info area left-->
                                    <div class="info-area-right">
                                        <div class="service-time">Call Us For Booking Vehicle</div>
                                        <div class="contact-number">+88018-5700-00</div>
                                    </div>
                                    <!--// Info area righr-->
                                </div>
                                <!--// Info Area-->
                            </div>
                        </div>
                        <!--// Complete Right Content-->
                    </div>
                </div>
            </div>
            <!--// Container-->
        </div>
        <!--// Banner Auto Car Section End-->

        <div class="view-top-counterup">
            <div class="counterup-wrap" style="background-image: url(assets/img/home-02/car-top.png)">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="single-couterup one">
                                <div class="content">
                                    <div class="count-wrap">
                                        <span class="count-num">1100</span>
                                    </div>
                                    <h6 class="title">Cars For Sale</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-couterup two">
                                <div class="content">
                                    <div class="count-wrap">
                                        <span class="count-num">750</span>
                                    </div>
                                    <h6 class="title">Dealer Review</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-couterup three">
                                <div class="content">
                                    <div class="count-wrap">
                                        <span class="count-num">550</span>
                                    </div>
                                    <h6 class="title">Cars Stock</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-couterup four">
                                <div class="content">
                                    <div class="count-wrap">
                                        <span class="count-num">1500</span>
                                    </div>
                                    <h6 class="title">Happy Customers</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--// Row-->
                </div>
            </div>
        </div>
        <!--// Counterup Section-->
    </div>
    <!--// Car Booking-->

{% endblock %}