{% extends 'base-2.html' %} {% load static %} {% block content %}

<!--Breadcrumb Start-->
<div class="breadcrumb-area" style="background-image: url('{% static 'home/assets/img/breadcrumb/05.png' %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h1 class="page-title">Sell Your Car</h1>
                    <ul class="page-list">
                        <li><a href="index.html">Home</a></li>
                        <li>sell car</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--// Breadcrumb End-->

<!--Step Car Sell-->
<div class="step-car-sell">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="step-car-sell__thumb margin-minus">
                    <img src="{% static 'home/assets/img/car-sell/01.png' %}" alt="img">
                </div>
            </div>
            <!--// Thumbnail-->

            <div class="col-lg-12 padding-bottom-160">
                <div class="step-car-sell__tabs">
                    <nav>
                        <div class="nav nav-tabs">
                            <a class="nav-item nav-link active" data-toggle="pill" href="#pills-information">01</a>
                            <a class="nav-item nav-link" data-toggle="pill" href="#pills-condition">02</a>
                            <a class="nav-item nav-link" data-toggle="pill" href="#pills-details">03</a>
                        </div>
                    </nav>
                </div>
                <!--// Tabs-->
                <div class="step-car-sell__title padding-top-20">
                    <div class="row">
                        <div class="col-lg-4 text-center">
                            <h4 class="title">Car Information</h4>
                            <div class="sub-title">Add You Car Details</div>
                        </div>
                        <div class="col-lg-4 text-center">
                            <h4 class="title">Car Condition</h4>
                            <div class="sub-title">Add You Car Details</div>
                        </div>
                        <div class="col-lg-4 text-center">
                            <h4 class="title">Contact Details</h4>
                            <div class="sub-title">Add You Car Details</div>
                        </div>
                    </div>
                </div>
                <!--// Step Car Sell Title-->
                <div class="step-car-sell__content padding-top-40">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="pills-information">
                            <div class="step-car-sell__form">
                                <form>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label for="make">Make</label>
                                            <input id="make" name="make" type="text" class="form-control">
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="model">Model</label>
                                            <input id="model" name="model" type="text" class="form-control">
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="year">Year</label>
                                            <input id="year" name="year" type="text" class="form-control">
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="transmission">Transmission</label>
                                            <input id="transmission" name="transmission" type="text" class="form-control">
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="mileage">Mileage</label>
                                            <input id="mileage" name="mlieage" type="text" class="form-control">
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="vin">VIN</label>
                                            <input id="vin" name="vin" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-middle">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="file-upload">
                                                    <label for="chooseFile">File Upload</label>
                                                    <div class="file-select">
                                                        <input type="file" name="chooseFile" id="chooseFile">
                                                        <div class="file-select-name" id="noFile"><i class="flaticon-paper-clip"></i>Attach File..</div>
                                                        <div class="file-select-button" id="fileName"><i class="fas fa-plus"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 tb-padding-top-10">
                                                <label>Provide a hosted video URL of you car</label>
                                                <input type="url" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <!--// Form Middle-->
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label for="ex-color">Exterior Color</label>
                                            <input id="ex-color" name="excolor" type="text" class="form-control">
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="in-color">Interior Color</label>
                                            <input id="in-color" name="incolor" type="text" class="form-control">
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="owner">Owner</label>
                                            <input id="owner" name="owner" type="text" class="form-control">
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="main-btn-wrap padding-top-5">
                                                <a href="#" class="main-btn black">SAVE AND CONTINUE</a>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <!--// Step Car Sell Form-->
                        </div>
                        <!--// Tab Content One-->
                        <div class="tab-pane fade" id="pills-condition">
                            <div class="step-car-sell__condition">
                                <div class="step-car-sell__condition_item">
                                    <div class="title-icon"><i class="flaticon-steering-wheel"></i></div>
                                    <h5 class="title">What is the Exterior Condition?</h5>
                                    <ul class="list-item-wrap">
                                        <li class="list-item active"><i class="icon"></i> Extra clean</li>
                                        <li class="list-item"><i class="icon"></i> Clean</li>
                                        <li class="list-item"><i class="icon"></i> Average</li>
                                        <li class="list-item"><i class="icon"></i> Below Average</li>
                                        <li class="list-item"><i class="icon"></i> I don't know</li>
                                    </ul>
                                </div>
                                <!--Item -->

                                <div class="step-car-sell__condition_item">
                                    <div class="title-icon"><i class="flaticon-safety-seat"></i></div>
                                    <h5 class="title">What is the Exterior Condition?</h5>
                                    <ul class="list-item-wrap">
                                        <li class="list-item active"><i class="icon"></i> Extra clean</li>
                                        <li class="list-item"><i class="icon"></i> Clean</li>
                                        <li class="list-item"><i class="icon"></i> Average</li>
                                        <li class="list-item"><i class="icon"></i> Below Average</li>
                                        <li class="list-item"><i class="icon"></i> I don't know</li>
                                    </ul>
                                </div>
                                <!--Item -->

                                <div class="step-car-sell__condition_item">
                                    <div class="title-icon"><i class="flaticon-car-1"></i></div>
                                    <h5 class="title">What is the Exterior Condition?</h5>
                                    <ul class="list-item-wrap">
                                        <li class="list-item"><i class="icon"></i> Yes</li>
                                        <li class="list-item active"><i class="icon"></i> No</li>
                                        <li class="list-item"><i class="icon"></i> I don't know</li>
                                    </ul>
                                </div>
                                <!--Item -->
                                <div class="main-btn-wrap padding-top-20">
                                    <a href="#" class="main-btn black">SAVE AND CONTINUE</a>
                                </div>
                                <!--// Main Btn-->
                            </div>
                        </div>
                        <!--// Tab Content Two-->
                        <div class="tab-pane fade" id="pills-details">
                            <div class="step-car-sell__details">
                                <form>
                                    <div class="step-car-sell__details_form">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label for="first_name">First Name</label>
                                                <input id="first_name" name="first-name" type="text" class="form-control">
                                            </div>
                                            <div class="col-lg-6">
                                                <label for="last_name">Last Name</label>
                                                <input id="last_name" name="last-name" type="text" class="form-control">
                                            </div>
                                            <div class="col-lg-6">
                                                <label for="email_address">Email Address</label>
                                                <input id="email_address" name="email" type="email" class="form-control">
                                            </div>
                                            <div class="col-lg-6">
                                                <label for="phone_number">Phone Number</label>
                                                <input id="phone_number" name="number" type="text" class="form-control">
                                            </div>
                                            <div class="col-lg-12">
                                                <label for="comment">Comments</label>
                                                <textarea id="comment" rows="8" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row padding-top-35">
                                        <div class="col-lg-12">
                                            <div class="d-flex">
                                                <div class="main-btn-wrap padding-top-5 pr-3">
                                                    <a href="#" class="main-btn black">SAVE AND CONTINUE</a>
                                                </div>
                                                <!--// Main Btn-->

                                                <p>By submitting this form, you will be requesting trade-in value at no obligation and well be contacted within 48 hours by a sales representative.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <!--// Tab Content Three-->
                    </div>
                </div>
                <!--// Step Car Sell Content-->
            </div>
        </div>
    </div>
</div>
<!--// Step Car Sell-->
{% endblock %}