{% extends 'base-2.html' %} {% load static %} {% block content %}
<!--Breadcrumb Start-->
<div class="breadcrumb-area" style="background-image: url('{% static 'home/assets/img/breadcrumb/002.JPG' %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h1 class="page-title">Our Services</h1>
                    <ul class="page-list">
                        <li><a href="index.html">Home</a></li>
                        <li>Services Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--// Breadcrumb End-->


<!--Home section How We are-->
<section class="how-we-are padding-120 md-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 px-lg-0">
                <!--Section border image-->
                <div class="section-border-image margin-right white-gray">
                    <div class="border-design">
                        <div class="border-bg full-bg"></div>
                        <div class="we-are-img">
                            <img src="{% static 'home/assets/img/service/image_06.JPG' %}" alt="img">
                        </div>
                    </div>
                </div>
                <!--// Section border image End-->
            </div>
            <div class="col-lg-5 offset-lg-1">
                <!--Section Left Content-->
                <div class="common-section-content">
                    <!--Section Title-->
                    <div class="section-title padding-bottom-20">
                        <h2 class="heading-02"> Restart and Repair</h2>
                    </div>
                    <!--// Section Title End-->
                    <div class="paragraph">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                            survived not only five centuries, but also the leap into electronic
                        </p>

                        <p>
                            typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                </div>
                <!--// Section Left Content End-->
            </div>

        </div>
        <!--// Row End-->
    </div>
    <!--// Container End-->
</section>
<!--// Home section How We are-->


<!--Process Section -->
<section class="process-section padding-bottom-105">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title padding-bottom-50">
                    <h2 class="heading-02">Process</h2>
                </div>
            </div>
            <!-- <div class="col-xl-5 col-lg-6">
                    <div class="process-section__right">
                        <div class="thumb-area">
                            <div class="thumb">
                                <img src="{% static 'home/assets/img/service/details-02.png' %}" alt="img">
                            </div>
                        </div>
                        <div class="content-area white absolute">
                            <div class="number">01</div>
                            <h4 class="title">Engine Testing</h4>
                            <p>Hence, the electric car owners should ensure that the car is frequently inspected by a
                                skilled and knowledgeable repair
                                service station like Auto to ensure a smooth and hassle free glide. Apart from it, there
                                are about six or seven parts
                            </p>
                        </div>
                    </div>
                </div> -->
        </div>
        <div class="row">
            <div class="col-lg-4">
                <!--Process left Content-->
                <div class="process-section__left__items">
                    <div class="thumb-area">
                        <div class="thumb">
                            <img src="{% static 'home/assets/img/service/image_07.JPG' %}" alt="img">
                        </div>
                    </div>
                    <div class="content-area">
                        <div class="number">02</div>
                        <h4 class="title">Engine Functions</h4>
                        <p>Hence, the electric car owners should ensure that the car is frequently inspected by a skilled and knowledgeable repair service station like Auto to ensure a smooth and hassle free glide. Apart from it, there are about six or seven
                            parts
                        </p>
                    </div>
                </div>
                <!--// Process item-->
            </div>
            <div class="col-lg-4">
                <!--Process left Content-->
                <div class="process-section__left__items">
                    <div class="thumb-area">
                        <div class="thumb">
                            <img src="{% static 'home/assets/img/service/image_08.JPG' %}" alt="img">
                        </div>
                    </div>
                    <div class="content-area">
                        <div class="number">03</div>
                        <h4 class="title">Engine Functions</h4>
                        <p>Hence, the electric car owners should ensure that the car is frequently inspected by a skilled and knowledgeable repair service station like Auto to ensure a smooth and hassle free glide. Apart from it, there are about six or seven
                            parts
                        </p>
                    </div>
                </div>
                <!--// Process item-->
            </div>
            <div class="col-lg-4">
                <!--Process left Content-->
                <div class="process-section__left__items">
                    <div class="thumb-area">
                        <div class="thumb">
                            <img src="{% static 'home/assets/img/service/image_06.JPG' %}" alt="img">
                        </div>
                    </div>
                    <div class="content-area">
                        <div class="number">03</div>
                        <h4 class="title">Engine Functions</h4>
                        <p>Hence, the electric car owners should ensure that the car is frequently inspected by a skilled and knowledgeable repair service station like Auto to ensure a smooth and hassle free glide. Apart from it, there are about six or seven
                            parts
                        </p>
                    </div>
                </div>
                <!--// Process item-->
            </div>
        </div>
    </div>
</section>
<!--// Process Section-->
{% endblock %}