{% extends 'base-2.html' %} {% load static %} {% block content %}

<!--Breadcrumb Start-->
<div class="breadcrumb-area style-03" style="background: url('{% static 'home/assets/img/breadcrumb/001.JPG' %}')">
    <div class="container">
        <div class="row">
            <div class="breadcrumb-content">
                <h1 class="page-title">Our Shop Page</h1>
                <ul class="page-list">
                    <li><a href="index.html">Home</a></li>
                    <li>Shop Details</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--// Breadcrumb End-->

<!--Product Details Tab-->
<div class="product-details-tab padding-top-120 padding-bottom-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="Product-tab-big">
                    <div class="product-tab-big-active">
                        <div class="product-tab-single-big-item">
                            <img src="{% static 'home/assets/img/shop-details/big-01.PNG' %}" alt="img">
                        </div>
                        <!--// Single Item-->
                        <div class="product-tab-single-big-item">
                            <img src="{% static 'home/assets/img/shop-details/big-02.PNG' %}" alt="img">
                        </div>
                        <!--// Single Item-->
                        <div class="product-tab-single-big-item">
                            <img src="{% static 'home/assets/img/shop-details/big-03.PNG' %}" alt="img">
                        </div>
                        <!--// Single Item-->

                        <div class="product-tab-single-big-item">
                            <img src="{% static 'home/assets/img/shop-details/big-04.PNG' %}" alt="img">
                        </div>
                        <!--// Single Item-->
                        <div class="product-tab-single-big-item">
                            <img src="{% static 'home/assets/img/shop-details/big-01.PNG' %}" alt="img">
                        </div>
                        <!--// Single Item-->
                        <div class="product-tab-single-big-item">
                            <img src="{% static 'home/assets/img/shop-details/big-02.PNG' %}" alt="img">
                        </div>
                        <!--// Single Item-->

                        <!--// Single Item-->
                        <div class="product-tab-single-big-item">
                            <img src="{% static 'home/assets/img/shop-details/big-03.PNG' %}" alt="img">
                        </div>
                        <!--// Single Item-->
                    </div>
                    <!--Slider Active Class-->
                </div>
                <!--// Product Tab Big-->

                <div class="Product-tab-small-active padding-top-30">
                    <div class="product-tab-single-small-item" data-slide-index="0">
                        <img src="{% static 'home/assets/img/shop-details/small-01.PNG' %}" alt="img">
                    </div>
                    <!--// Single Item-->
                    <div class="product-tab-single-small-item" data-slide-index="1">
                        <img src="{% static 'home/assets/img/shop-details/small-02.PNG' %}" alt="img">
                    </div>
                    <!--// Single Item-->
                    <div class="product-tab-single-small-item" data-slide-index="2">
                        <img src="{% static 'home/assets/img/shop-details/small-03.PNG' %}" alt="img">
                    </div>
                    <!--// Single Item-->

                    <!--// Single Item-->
                    <div class="product-tab-single-small-item" data-slide-index="3">
                        <img src="{% static 'home/assets/img/shop-details/small-04.PNG' %}" alt="img">
                    </div>
                    <!--// Single Item-->

                    <!--// Single Item-->
                    <div class="product-tab-single-small-item" data-slide-index="4">
                        <img src="{% static 'home/assets/img/shop-details/small-01.PNG' %}" alt="img">
                    </div>
                    <!--// Single Item-->

                    <!--// Single Item-->
                    <div class="product-tab-single-small-item" data-slide-index="5">
                        <img src="{% static 'home/assets/img/shop-details/small-02.PNG' %}" alt="img">
                    </div>
                    <!--// Single Item-->

                    <!--// Single Item-->
                    <div class="product-tab-single-small-item" data-slide-index="6">
                        <img src="{% static 'home/assets/img/shop-details/small-03.PNG' %}" alt="img">
                    </div>
                    <!--// Single Item-->

                </div>
                <!--// Slider Active Class-->

                <!--Product Information-->
                <div class="product-information padding-top-40 padding-bottom-95">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#pills-description">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#pills-information">Additional
                                    Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#pills-review">Reviews</a>
                        </li>
                    </ul>
                    <div class="tab-content description-tab-content">
                        <div class="tab-pane fade show active" id="pills-description" role="tabpanel">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                                more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="pills-information" role="tabpanel">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                                more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="pills-review" role="tabpanel">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                                more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                    </div>
                </div>
                <!--// Product Information-->
            </div>

            <div class="col-lg-5">
                <!--Product Description-->
                <div class="product-description pl-lg-4">
                    <h4 class="title">Flash Deals Tyre</h4>
                    <!--// Title-->
                    <div class="rating-wrap">
                        <div class="common-rating-style left">
                            <input type="radio" name="start1" id="start51"><label for="start51"></label>
                            <input type="radio" name="start1" id="start52"><label for="start52"></label>
                            <input type="radio" name="start1" id="start53"><label for="start53"></label>
                            <input type="radio" name="start1" id="start54"><label for="start54"></label>
                            <input type="radio" name="start1" id="start55"><label for="start55"></label>
                        </div>
                        <span class="how-many-rating"> (1k Customer Review)</span>
                    </div>
                    <!--// Rating Wrap-->
                    <div class="common-price-style">
                        Price: <span class="black">$145</span>
                    </div>
                    <!--// Price-->
                    <div class="padding-20">
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
                            mi vitae est. Mauris placerat eleifend leo.</p>
                    </div>

                    <div class="color-list">
                        <span class="color-text">Color</span>
                        <ul class="color-list-row">
                            <li class="list-item"><a href="#">Black</a></li>
                            <li class="list-item"><a href="#">Blue</a></li>
                            <li class="list-item"><a href="#">Green</a></li>
                        </ul>
                    </div>
                    <!--// Color List-->
                    <div class="color-list">
                        <span class="color-text">Size</span>
                        <ul class="color-list-row">
                            <li class="list-item"><a href="#">Large</a></li>
                            <li class="list-item"><a href="#">Medium</a></li>
                            <li class="list-item"><a href="#">Small</a></li>
                        </ul>
                    </div>
                    <!--// Size List-->
                    <div class="cart-wrap padding-top-10 padding-bottom-30">
                        <input type="number" value="1" class="qty" min="1">
                        <!--<div class="main-btn-wrap">
                            <a href="#" class="main-btn black"><i class="flaticon-shopping-cart"></i> Add To
                                    Cart</a>
                        </div>-->
                    </div>
                    <!--// Cart Wrap-->

                    <div class="sku product-meta">
                        <span class="product-meta-name"> Sku:</span>
                        <span class="name">150</span>
                    </div>
                    <!--// Sku-->
                    <div class="category product-meta">
                        <span class="product-meta-name">Category:</span>
                        <span class="name">Accessories</span>
                    </div>
                    <!--// Category-->
                    <div class="tag product-meta">
                        <span class="product-meta-name">Tage:</span>
                        <ul class="tag-list-row">
                            <li><a href="#">Car,</a></li>
                            <li><a href="#">Tyer,</a></li>
                            <li><a href="#">Body</a></li>
                        </ul>
                    </div>
                    <!-- Tag-->

                </div>
                <!--// Product Description-->
            </div>


            <div class="col-lg-12">
                <!--Related Product-->
                <div class="related-product-area">
                    <div class="title padding-bottom-30">Related Products</div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <!-- Grid List Column-->
                            <div class="grid-list-column-item">
                                <span class="price-drop-tag">22%</span>
                                <div class="thumb">
                                    <img src="{% static 'home/assets/img/shop/product/01.png' %}" alt="img">
                                </div>
                                <h5 class="title padding-top-10">Flash Deals Tyre</h5>
                                <div class="common-rating-style">
                                    <input type="radio" name="start1" id="start1"><label for="start1"></label>
                                    <input type="radio" name="start1" id="start2"><label for="start2"></label>
                                    <input type="radio" name="start1" id="start3"><label for="start3"></label>
                                    <input type="radio" name="start1" id="start4"><label for="start4"></label>
                                    <input type="radio" name="start1" id="start5"><label for="start5"></label>
                                </div>
                                <div class="common-price-style ">
                                    Price: <span class="black">$145</span>
                                </div>
                                <!--<div class="main-btn-wrap padding-top-20">
                                    <a href="#" class="main-btn black-border"><i class="flaticon-shopping-cart"></i>
                                            Add To Cart</a>
                                </div>-->
                            </div>
                            <!--// Grid List Column-->
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <!-- Grid List Column-->
                            <div class="grid-list-column-item">
                                <span class="price-drop-tag">22%</span>
                                <div class="thumb">
                                    <img src="{% static 'home/assets/img/shop/product/02.png' %}" alt="img">
                                </div>
                                <h5 class="title padding-top-10">Air Intake System</h5>
                                <div class="common-rating-style">
                                    <input type="radio" name="start1" id="start21"><label for="start21"></label>
                                    <input type="radio" name="start1" id="start22"><label for="start22"></label>
                                    <input type="radio" name="start1" id="start23"><label for="start23"></label>
                                    <input type="radio" name="start1" id="start24"><label for="start24"></label>
                                    <input type="radio" name="start1" id="start25"><label for="start25"></label>
                                </div>
                                <div class="common-price-style ">
                                    Price: <span class="black">$145</span>
                                </div>
                                <!--<div class="main-btn-wrap padding-top-20">
                                    <a href="#" class="main-btn black-border"><i class="flaticon-shopping-cart"></i>
                                            Add To Cart</a>
                                </div>-->
                            </div>
                            <!--// Grid List Column-->
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <!-- Grid List Column-->
                            <div class="grid-list-column-item">
                                <span class="price-drop-tag">22%</span>
                                <div class="thumb">
                                    <img src="{% static 'home/assets/img/shop/product/03.png' %}" alt="img">
                                </div>
                                <h5 class="title padding-top-10">Auto Clutch & Brake</h5>
                                <div class="common-rating-style">
                                    <input type="radio" name="start1" id="start31"><label for="start31"></label>
                                    <input type="radio" name="start1" id="start32"><label for="start32"></label>
                                    <input type="radio" name="start1" id="start33"><label for="start33"></label>
                                    <input type="radio" name="start1" id="start34"><label for="start34"></label>
                                    <input type="radio" name="start1" id="start35"><label for="start35"></label>
                                </div>
                                <div class="common-price-style ">
                                    Price: <span class="black">$145</span>
                                </div>
                                <!--<div class="main-btn-wrap padding-top-20">
                                    <a href="#" class="main-btn black-border"><i class="flaticon-shopping-cart"></i>
                                            Add To Cart</a>
                                </div>-->
                            </div>
                            <!--// Grid List Column-->
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <!-- Grid List Column-->
                            <div class="grid-list-column-item">
                                <span class="price-drop-tag">22%</span>
                                <div class="thumb">
                                    <img src="{% static 'home/assets/img/shop/product/01.png' %}" alt="img">
                                </div>
                                <h5 class="title padding-top-10">Flash Deals Tyre</h5>
                                <div class="common-rating-style">
                                    <input type="radio" name="start1" id="start41"><label for="start41"></label>
                                    <input type="radio" name="start1" id="start42"><label for="start42"></label>
                                    <input type="radio" name="start1" id="start43"><label for="start43"></label>
                                    <input type="radio" name="start1" id="start44"><label for="start44"></label>
                                    <input type="radio" name="start1" id="start45"><label for="start45"></label>
                                </div>
                                <div class="common-price-style ">
                                    Price: <span class="black">$145</span>
                                </div>
                                <!--<div class="main-btn-wrap padding-top-20">
                                    <a href="#" class="main-btn black-border"><i class="flaticon-shopping-cart"></i>
                                            Add To Cart</a>
                                </div>-->
                            </div>
                            <!--// Grid List Column-->
                        </div>


                    </div>
                </div>
                <!--// Related Product-->
            </div>

        </div>

    </div>
</div>
<!--// Product Details Tab-->

{% endblock %}