<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coche Car Servicing HTML Template</title>
    {% include 'css.html' %}
</head>

<body>
    {% load static %}
    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
    <!-- preloader area end -->

    <!-- search Popup -->
    <div class="body-overlay" id="body-overlay"></div>
    <div class="search-popup" id="search-popup">
        <form action="index.html" class="search-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search.....">
            </div>
            <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!-- // search Popup -->

    <!--Sidebar Nav-->
    <div id="sidebar" class="sidebar-class right">
        <div class="toggle-btn">
            <span class="closebtn" title="Close Overlay">×</span>
        </div>
        <div class="sidebar-logo-area">
            <!--Logo Area Start-->
            <div class="logo-area">
                <a href="index.html">
                    <img src="assets/img/logo.png" alt="Logo">
                </a>
            </div>
            <!--// Logo Area End-->
            <p>We believe brand interaction is key in commu- nication.
                Real innovations and a positive customer experience are the heart of successful communication.</p>
        </div>
        <!--// Sidebar Logo Area-->

        <div class="sidebar-working-area">
            <div class="section-title padding-bottom-20">
                <h4 class="heading-04">Work Hour</h4>
            </div>
            <div class="timing-area">
                <div class="date">Monday to Friday</div>
                <div class="time">
                    <span>7:00</span> - <span>21:00</span>
                </div>

                <div class="date padding-top-20">Saturday</div>
                <div class="time">
                    <span>7:00</span> - <span>16:00</span>
                </div>
            </div>
        </div>
        <!--// Sidebar Working Area-->

        <div class="sidebar-contact-area">
            <div class="section-title padding-bottom-20">
                <h4 class="heading-04">Contact</h4>
            </div>
            <div class="timing-area">
                <div class="date">Support:</div>
                <div class="time">
                    <span> (012) 800 456 789</span>
                </div>

                <div class="date padding-top-20">Shoroom:</div>
                <div class="time">
                    <span>Lavaca Street, Suite 2000 <br> Austin, TX 24141</span>
                </div>
            </div>
        </div>
        <!--// Sidebar Contact Area-->
        <div class="sidebar-social-icon-wrap">
            <div class="banner__header__follow_us">
                <div class="text">FOLLOW US</div>
                <div class="banner__header__icon">
                    <ul>
                        <li><a class="icon" href="https://www.facebook.com/codingeek.net/" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a></li>
                        <li><a class="icon" href="https://twitter.com/codingeeknet" target="_blank"><i
                                    class="fab fa-twitter"></i></a></li>
                        <li><a class="icon" href="https://www.instagram.com/codingeeknet" target="_blank"><i
                                    class="fab fa-instagram"></i></a></li>
                        <li><a class="icon" href="https://www.linkedin.com/company/codingeek/about" target="_blank"><i
                                    class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--// Sidebar Social Icon-->
    </div>
    <!--// Sidebar Nav-->

    <!--Open Menu Cart-->
    <div id="menu-cart-open">
        <div class="cart-title-wrap">
            <div class="title">
                <h3 class="heading-03">Cart</h3>
            </div>
            <div class="show-cart">
                <span class="closebtn" title="Close Overlay">×</span>
            </div>
        </div>
        <!--// Cart Title-->
        <div class="cart-content">
            <div class="cart-item-wrap">
                <!-- cart Single Item-->
                <div class="cart-single-item">
                    <div class="item-left">
                        <img src="assets/img/cart/01.png" alt="img">
                    </div>
                    <div class="item-right">
                        <div class="item-text">
                            <h5 class="heading-05">Honda NSX</h5>
                            <div class="price"><span class="price_text"> Price:</span> $145 </div>
                        </div>
                    </div>
                    <div class="cart-item-close-btn">×</div>
                </div>
                <!--// cart Single Item-->

                <!-- cart Single Item-->
                <div class="cart-single-item">
                    <div class="item-left">
                        <img src="assets/img/cart/02.png" alt="img">
                    </div>
                    <div class="item-right">
                        <div class="item-text">
                            <h5 class="heading-05">Auto Clutch & Brake</h5>
                            <div class="price"><span class="price_text"> Price:</span> $145 </div>
                        </div>
                    </div>
                    <div class="cart-item-close-btn">×</div>
                </div>
                <!--// cart Single Item-->

                <!-- cart Single Item-->
                <div class="cart-single-item">
                    <div class="item-left">
                        <img src="assets/img/cart/03.png" alt="img">
                    </div>
                    <div class="item-right">
                        <div class="item-text">
                            <h5 class="heading-05">Flash Deals Tyre</h5>
                            <div class="price"><span class="price_text"> Price:</span> $145 </div>
                        </div>
                    </div>
                    <div class="cart-item-close-btn">×</div>
                </div>
                <!--// cart Single Item-->

                <!-- Subtotal-->
                <div class="cart-single-item subtotal">
                    <div class="item-left">
                        <h5 class="heading-05">Subtotal:</h5>
                    </div>
                    <div class="item-right">
                        <div class="amount">$45,180</div>
                    </div>
                </div>
                <!--// Subtotal-->

                <div class="main-btn-wrap padding-top-20">
                    <a href="#" class="main-btn black">VIEW CART</a>
                </div>
                <div class="main-btn-wrap padding-top-20">
                    <a href="#" class="main-btn black">CHECKOUT</a>
                </div>
                <!--// Button -->
            </div>
        </div>
    </div>
    <!--// Open Menu Cart-->

    <div class="location-popup"></div>
    <div class="location-popup-content">
        <button type="button" class="location-popup-content_close">
            <span class="ti-close"></span>
        </button>
        <div class="row no-gutters">
            <div class="location-popup__wrapper">
                <div id="google-map" class="location-popup__map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3070.1899657893728!2d90.42380431666383!3d23.779746865573756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c7499f257eab%3A0xe6b4b9eacea70f4a!2sManama+Tower!5e0!3m2!1sen!2sbd!4v1561542597668!5m2!1sen!2sbd"
                        style="border:0; width: 100%; height: 100%;" allowfullscreen></iframe>
                </div>
                <div class="location-popup__text">
                    <div class="contact-items">
                        <h5 class="heading">Showroom</h5>
                        <div class="contact">
                            <span class="contact-info">FairView Ave, El Monte <br> California 91732 </span>
                        </div>
                    </div>
                    <div class="main-btn-wrap padding-top-40">
                        <a href="#" class="main-btn black uppercase">open in map</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--location-popup-->

    <div class="message-popup"></div>
    <div class="message-popup-content">
        <button type="button" class="message-popup-content_close">
            <span class="ti-close"></span>
        </button>
        <div class="row no-gutters">
            <div class="message-popup__wrapper">
                <div class="message-popup__thumb" style="background-image: url(assets/img/modal/01.png);">
                    <div class="message-popup__text">
                        <h5 class="heading">You have a quotation for us?</h5>
                        <div class="contact">
                            <span class="contact-info">leave your message below <br> or email us at
                                info@autoshop.com</span>
                        </div>
                    </div>
                </div>
                <div class="message-popup__form">
                    <form action="index.html" class="contact-form">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="subject">Subject</label>
                                    <input type="text" class="form-control" id="subject">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea class="form-control" cols="10" rows="4" id="message"></textarea>
                                </div>
                                <div class="main-btn-wrap">
                                    <input class="main-btn black" type="submit" value="Send Message">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--message-popup-->

    <div class="contact-popup"></div>
    <div class="contact-popup-content">
        <button type="button" class="contact-popup-content_close">
            <span class="ti-close"></span>
        </button>
        <div class="row no-gutters">
            <div class="contact-popup__wrapper">
                <div class="contact-popup__thumb" style="background-image: url(assets/img/modal/02.png);"></div>
                <div class="contact-popup__info__wrap">
                    <div class="contact-items">
                        <h5 class="heading">Opening Hour</h5>
                        <div class="contact">
                            <span class="contact-info">Monday to Friday </span>
                            <span class="contact-info">7:00 - 21:00 </span>
                            <span class="contact-info">Saturday</span>
                            <span class="contact-info">7:00 - 16:00 </span>
                        </div>
                    </div>
                    <div class="contact-items padding-top-20">
                        <h5 class="heading">Phone</h5>
                        <div class="contact">
                            <span class="contact-info">(+88) 0172 570051 <br> (+88) 0172 570051</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Contact-popup-->


    <!--Full Width Sider Start-->
    <div class="full-width-slider">
        <!--Main Header Start-->
        {% include 'header.html' %}
        <!--// Main Header End Here-->

        <!--Slider Area Start-->
        <div class="home-slider-area style-02">
            <div class="container-fluid">
                <div class="row">
                    <div class="home-slider-one">
                        <!--Slider Items Start-->

                        <!--// Slider Items End-->

                        <!--Slider Items Start-->

                        <!--// Slider Items End-->

                        <!--Slider Items Start-->

                        <!--// Slider Items End-->

                        <!--Slider Items Start-->

                        <!--// Slider Items End-->
                    </div>

                </div>
                <!--// Slider Row End-->
            </div>

            <!--Carouse Dots Area-->
            <div class="carousel-dots-area">
                <div class="container">
                    <div class="carousel-dots">
                    </div>
                </div>
            </div>
            <!--// Carouse Dots Area End-->
        </div>
        <!--//Slider Area End-->
    </div>
    <!--// Full Width Sider End-->


    {% block content %}

    {% endblock %}

    {% include 'footer.html' %}

    <!-- back to top area start -->
    <div class="back-to-top">
        <span class="back-top"> <img src="assets/img/back-to-top.png" alt="img"> </span>
    </div>
    <!-- back to top area end -->
    {% include 'jscript.html' %}
</body>

</html>