{% load static %}
<!-- footer area start -->
<footer class="footer-area style-02" style="background-image: url('assets/img/bg/footer-bg.png')">
    <div class="footer-top ">
        <div class="container">
            <div class="row">
                <div class="footer-subscribe-area">
                    <h4 class="title">Subscribe News Letter & Get Company News</h4>
                    <div class="subscribe-area">
                        <form>
                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="Enter your email address">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <input type="submit" value="Subscribe">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row padding-top-125 padding-bottom-45">
                <div class="col-lg-4 col-md-6 px-lg-0">
                    <div class="footer-widget widget">
                        <div class="about_us_widget">
                            <a href="index.html" class="footer-logo"> <img src="{% static 'home/assets/img/log.PNG' %}" alt="footer logo"></a>
                            <p>We believe brand interaction is key in commu- nication. Real innovations and a positive customer experience are the heart of successful communication.</p>

                            <div class="footer-social-icon padding-top-10">
                                <div class="banner__header__follow_us">
                                    <div class="text">FOLLOW US</div>
                                    <div class="banner__header__icon">
                                        <ul>
                                            <li><a class="icon" href="https://www.facebook.com/codingeek.net/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a class="icon" href="https://twitter.com/codingeeknet" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                            <li><a class="icon" href="https://www.instagram.com/codingeeknet" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                            <li><a class="icon" href="https://www.linkedin.com/company/codingeek/about" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 px-lg-0">
                    <div class="footer-widget widget widget_nav_menu">
                        <h5 class="widget-title">Company</h5>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Page</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Services</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 px-lg-0">
                    <div class="footer-widget widget widget_nav_menu">
                        <h5 class="widget-title">Services</h5>
                        <ul>
                            <li><a href="#">Latest Cars</a></li>
                            <li><a href="#">Featured Car</a></li>
                            <li><a href="#">Sell Your Car</a></li>
                            <li><a href="#">Buy a Car</a></li>
                            <li><a href="#">Strategy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 px-lg-0">
                    <div class="footer-widget widget">
                        <h5 class="widget-title">Contact us</h5>
                        <div class="contact-area">
                            <ul>
                                <li><i class="icon flaticon-pin"></i><a href="#">Ring Road West 61/2
Korle Bu road
Abossey-okai
Accra</a></li>
                                <li><i class="icon flaticon-email"></i><a href="#">sales@tropicalpartsgh.com</a></li>
                                <li><i class="icon flaticon-call-answer"></i><a href="#">030 263 12021</a></li>
                                <li><i class="icon flaticon-call-answer"></i><a href="#">020 688 3274</a></li>
                                <li><i class="icon flaticon-call-answer"></i><a href="#">054 172 7027</a></li>
                                <li><i class="icon flaticon-global"></i><a href="#">www.tropicalpartsgh.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-area-inner">
                        &copy; Tropical Parts 2020 All rights reserved. Powered with <span class="coypright-icon"><i
                                class="fas fa-heart"></i></span> by
                        <a href="#" target="_blank">Hepeps Solutions Limited</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>