<header>
    {% load static %}

    <!--Topbar area-->
    <div class="topbar-area style-02">
        <div class="container">
            <div class="row">
                <div class="topbar-inner">
                    <div class="left-content">
                        Ordered before 17:30, shipped today - Support: (012) 800 456 789
                    </div>
                    <div class="right-content">
                        <div class="social-icon">
                            <ul>
                                <li><a class="icon" href="https://twitter.com/codingeeknet" target="_blank"><i
                                            class="fab fa-twitter"></i></a></li>
                                <li><a class="icon" href="https://www.instagram.com/codingeeknet" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                <li><a class="icon" href="https://www.facebook.com/codingeek.net/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                            </ul>
                        </div>
                        <div class="languages">
                            <ul>
                                <li>{% load google_translate %}{% google_translate type='simple' language='en' %}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Top Bar Area End-->

    <div class="container">
        <div class="row">
            <div class="header-bottom-area">
                <!--Logo Area Start-->
                <div class="logo-area">
                    <a href="{% url 'home:index' %}">
                        <img src="{% static 'home/assets/img/log.png' %}" alt="Logo">
                    </a>
                </div>
                <!--// Logo Area End-->

                <!--Navbar Area Start Here-->
                <nav class="navbar navbar-area navbar-expand-lg style-02">
                    <div class="container nav-container">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#autoshop_main_menu" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="humberger-menu black">
                                <span class="one"></span>
                                <span class="two"></span>
                                <span class="three"></span>
                            </span>
                        </button>
                        <div class="collapse navbar-collapse" id="autoshop_main_menu">
                            <ul class="navbar-nav">
                                <li class="menu-item-has-children">
                                    <a href="#">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'home:index' %}">Home Page</a></li>
                                        <li><a href="{% url 'home:about-us' %}">About Us</a></li>
                                        <li><a href="{% url 'home:contact' %}">Contact Us</a></li>
                                    </ul>
                                </li>

                                <li class="menu-item-has-children">
                                    <a href="#">Services</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'home:services' %}">Our services</a></li>
                                        <li><a href="{% url 'home:service-details' %}">Services Details</a></li>
                                        <li><a href="{% url 'home:service-booking' %}">Service Booking</a></li>
                                        <li><a href="{% url 'home:rent-car' %}">Rent a Car</a></li>

                                    </ul>
                                </li>

                                <li class="menu-item-has-children">
                                    <a href="#">Shop</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'home:shop' %}">Our Shop</a></li>
                                        <li><a href="{% url 'home:shop_detail' %}">Shop Detail</a></li>
                                    </ul>
                                </li>

                                <li class="menu-item-has-children">
                                    <a href="#">Blog</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'home:blog' %}">Blog</a></li>
                                        <li><a href="{% url 'home:blog_detail' %}">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Customer Care</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'home:promotion' %}">Promotion</a></li>
                                        <li><a href="{% url 'home:testimonial' %}">Testimonial</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!--Nav Right Content-->
                        <div class="nav-right-content black">
                            <ul>
                                <li class="cart show-cart">
                                    <a href="#" class="notification">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span class="badge">3</span>
                                    </a>
                                </li>
                                <li class="search" id="search">
                                    <i class="fa fa-search"></i>
                                </li>
                                <li>
                                    <!-- Humberger -->
                                    <div class="humberger-menu black toggle-btn">
                                        <span class="one"></span>
                                        <span class="two"></span>
                                        <span class="three"></span>
                                    </div>
                                    <!--// Humberger -->
                                </li>
                            </ul>
                        </div>
                        <!--// Nav Right Content-->
                    </div>
                </nav>
                <!-- navbar area end -->
            </div>
            <!--// header Bottom-->
        </div>
    </div>
</header>