{% load static %}

<!-- jquery -->
<script src="{% static 'home/assets/js/jquery-3.4.1.min.js' %}"></script>
<!--migrate-->
<script src="{% static 'home/assets/js/jquery-migrate.min.js' %}"></script>
<!-- bootstrap -->
<script src="{% static 'home/assets/js/bootstrap.min.js' %}"></script>
<!--Mean Menu-->
<script src="{% static 'home/assets/js/jquery.meanmenu.min.js' %}"></script>
<!-- waypoint -->
<script src="{% static 'home/assets/js/waypoints.min.js' %}"></script>
<!-- wow -->
<script src="{% static 'home/assets/js/wow.min.js' %}"></script>
<!--Slick Js-->
<script src="{% static 'home/assets/js/slick.min.js' %}"></script>
<!-- counterup -->
<script src="{% static 'home/assets/js/jQuery.rcounter.js' %}"></script>
<!--Custom Video Popup-->
<script src="{% static 'home/assets/js/jquery.rPopup.js' %}"></script>
<!--Nice Select-->
<script src="{% static 'home/assets/js/jquery.nice-select.min.js' %}"></script>
<!-- imageloaded -->
<script src="{% static 'home/assets/js/imagesloaded.pkgd.min.js' %}"></script>
<!--Google Map API-->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVyNXoXHkqAwBKJaouZWhHPCP5vg7N0HQ&callback=initMap"
    async defer></script> -->
<!--Google Map Active-->
<!-- <script src="assets/js/goolg-map-activate.js"></script> -->
<!-- main js -->
<script src="{% static 'home/assets/js/main.js' %}"></script>