<div class="slider-content-bottom">
    <div class="car-model">
        <div class="items">
            <div class="items__icon"><i class="flaticon-speedometer"></i></div>
            <div class="items__content">
                <h5 class="heading-05">5.4s</h5>
                <p>From 0-100kmph</p>
            </div>
        </div>
        <div class="items">
            <div class="items__icon"><i class="flaticon-engine"></i></div>
            <div class="items__content">
                <h5 class="heading-05">560hp</h5>
                <p>Engine Power</p>
            </div>
        </div>
        <div class="items">
            <div class="items__icon"><i class="flaticon-fuel-station"></i></div>
            <div class="items__content">
                <h5 class="heading-05">105.0</h5>
                <p>Fuel Tank Capacity</p>
            </div>
        </div>
    </div>
</div>